<h1><%= t "static_pages.reset_new.text_1" %></h1>

<p><%= t "static_pages.reset_new.text_2" %></p>

<%= link_to t("static_pages.reset_new.button"), 
  edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t "static_pages.reset_new.mail_text_2" %></p>

<p>
  <%= t "static_pages.reset_new.mail_text_3" %>
</p>
